:root {
  /* ===== Colors ===== */
  --color-primary: #D4A373; /* Muốn sửa màu thì chỉnh ở file css riêng và set, các thuộc tính dưới tương tự */
  --color-primary-dark: #CB9056;

  --color-p-23: #FFFFFF;
  --color-light-2: #f9f9f9;
  --color-p-1: #A5A4A4;
  --color-light-3: #e8e8e8;

  --color-dark-1: #000000;
  --color-dark-2: #53402D;
  --color-dark-3: #6B5947;

  --color-blue-sky: linear-gradient(to bottom, #01AEEF, #0093E9);
  --color-purchase-btn: #00C2FF;
  --color-addtocart-btn: #00FF19;
  --color-highlight-bar: #0FEAF8;
  --color-header: #C6E5F4;

  /* ===== Fonts ===== */
  --font-heading: 'Roboto', sans-serif;
  --font-body: 'Roboto', sans-serif;

  /* ===== Heading sizes ===== Cho nội dung của LeftBar, Header, */
  --h1-size: 40px;
  --h2-size: 36px;
  --h3-size: 28px;

  /* ===== Paragraph sizes ===== */
  --p1-size: 24px;
  --p2-size: 16px;
  --p3-size: 14px;
  --p4-size: 12px;
}