.product-page {
    top: 90px;
    margin-left: 180px;
    transition: margin-left 0.2s;
    position: relative;
}

.product-page.collapsed {
    margin-left: 70px; 
}

.product-page.collapsed .product-header,
.product-header.collapsed,
.product-page.collapsed .product-content {
    margin-left: 70px;
    width: calc(100% - 70px);
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    position: fixed;
    left: 0;
    margin-left: 180px;
    width: calc(100% - 180px);
    transition: margin-left 0.2s, width 0.2s;
    z-index: 10;
    border-bottom: 1px solid var(--color-dark-1);
    background-color: var(--color-p-23);
}

.product-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-title {
    padding: 4px 8px;
    font-weight: 700;
    margin-top: 8px;
}

.product-content {
    padding-top: 140px;
    transition: margin-left 0.2s, width 0.2s; 
}

.product-detail-container {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
    max-width: 1200px;
}

.product-image-section {
    flex: 0 0 400px;
    text-align: center;
}

.product-detail-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.cart-tool {
    width: 32px;
    height: 32px;
    margin: 36px 24px 0 0;
    cursor: pointer;  
}

.product-info-section {
    flex: 1;
}

.product-name {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--color-dark-1);
}

.product-actions {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    justify-content: center;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.product-specs {
    background: var(--color-light-2);
    border: var(--color-light-3);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-description {
    margin-bottom: 24px;
    line-height: 1.6;
}