/* .header-container {
    width: 100%;
    background: var(--color-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    box-sizing: border-box;
    position: sticky;
    z-index: 10;
    top: 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 65px;
    height: 60px;
    cursor: pointer;
}

.header-avatar {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
} */