.search-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-dark-1);
    border-radius: 8px;
    border-color: var(--color-p-1);
    /* width: 350px; */
    position: relative;
}

.search-container:hover {
    border-color: var(--color-purchase-btn);
    transition: 0.2s ease-in-out;
}
.search-container:focus-within {
    border-color: var(--color-purchase-btn);
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    cursor: pointer;
}

.search-icon img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}